
body {
  background: #F8F8F8;
}

.navbar.transparent {
  background-color: transparent;
}

.navbar.listNavBar {
  padding-bottom: 1em;
}


#navbar {
  padding: 0.7rem 0;
  border-bottom: 2px solid #00C718;
  background-color: white;
}

a.navbar-item:hover, a:hover {
  color: black !important;
}

#navbar .navbar-start .navbar-item {
  font-size: 1.1rem;
}

#navbar .navbar-item.current {
  font-weight: bold;
}

#itemDetail .itemLogo {
  width: 48px;
}
#itemDetail .itemLogo img {
  max-width: 48px;
  max-height: 48px;
  display: block;
  margin: auto;
}

#itemDetail {
  box-shadow: 0 1px 6px 0 rgba(33,27,27,0.2);
  background-color: #FFFFFF;
  border-radius: 4px;
}

#itemDetail .navbar {
  padding: 1.5rem 0.5rem;
}

#dataTable {
  width: 100%;
  font-size: 0.9rem;
}

#dataTable table {
  width: 100%;
}

#dataTable th, #dataTable td {
  border: 1px solid #E7E7E7;
}

#dataTable th {
  width: 20%;
  background-color: #F8F8F8;
}

#dataTable td {
  word-wrap: break-word;
}

#projectList { 
  box-shadow: 0 1px 6px 0 rgba(33,27,27,0.2);
  background-color: #FFFFFF;
  border-radius: 4px;
  font-size: 0.9rem;
}

table { 
  border-color: white !important;
}

#projectList table {
  width: 100%;
}

#projectList table {
}

#projectList table thead {
  background-color: #F8F8F8;
}

#projectList table thead th {
  font-weight: normal;
  color: #999999;
  border-bottom: 1px solid #F2F2F2;
}

#projectList table thead th a {
  color: #999999;
}

h2.title.is-4 {
  font-weight: 500;
}

h2.title.is-4 a {
  color: #00c718;
}

#projectList table tbody td {
  font-size: 1em;
  vertical-align: middle;
  height: 3.5em;
}

#projectList table tbody tr:hover {
  background-color: #EEFBEF;
}

#projectList table tbody td {
  border-color: #F2F2F2;
}

#page {
  padding-top: 2em;
}

#logo-text { 
  padding-left: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}

#logo {
  width: 32px;
  height: 32px;
  background-image: url(./opencrypto.svg);
}

.green { 
  color: #00c718;
}
.thin {
  font-weight: 300;
}

td.data-logo {
  width: 32px;
  height: 32px;
}
.data-logo img {
  display: block;
  margin: auto;
  max-width: 32px;
  max-height: 32px;
}

.projectTitle {
  font-weight: 500;
  font-size: 1.1em;
}

.grey { color: silver; }

.searchInput {
  border: 1px solid #D1D1D1;
  border-radius: 20px;
  padding: 0.5em 1em;
  font-size: 1em;
}

input.searchInput:focus {
  outline-width: 0;
}

